<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>

    body {
        background: #CCCCFF;
    }

    .send{
        width: 50%
    }

    .no_task{
        text-align: center;
        margin: 5%;
    }
</style>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Главная</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/logout/">Выйти<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>



<table class="table">
  <tbody>
    <tr>
      <th scope="row">
        <table class="table">
            <thead>
                <th>Данные</th>
                <th>Тип</th>
                <th>Статус</th>
                <th>Ответ</th>
            </thead>

                {% for task in tasks %}
                     <tr>
                        <th scope="row">{{ task.input_data }}</th>
                        <td> {{ task.type }} </td>
                        <td>
                            {% if task.status  %}
                            Решена
                            {% else %}
                            Не решена
                            {% endif %}
                        </td>
                        <td>{{ task.answer }}</td>
                     </tr>
                {% endfor %}
        </table>
      </th>
      <td>
          <form action="/add/" method="post" class="send">
            {% csrf_token %}
            <div class="form-group">
                <label>Тип задачи</label>
                <input type="text" class="form-control" name="type" required>
            </div>
            <div class="form-group">
                <label>Входные данные</label>
                <input type="text" class="form-control"  name="input_data" required style="height = 100px">
            </div>

            <button type="submit" class="btn btn-primary">Отправить</button>
          </form>
      </td>
    </tr>
  </tbody>
</table>



</body>
</html>