<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<style>

    body {
        background: #CCCCFF;
    }
    .send{
        margin-left: 40%;
        margin-right: 40%;
        margin-top: 10%;
    }

</style>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/sign/">Зарегистрируйтесь</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/login/">Войдите<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>


<form action="/sign/" method="post" class="send">
    <p style="color: red">{{ message }}</p>
    {% csrf_token %}
  <div class="form-group">
      <h3>Заполните все поля для регистрации</h3>
    <label for="exampleInputEmail1">Адрес электронной почты</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="user" aria-describedby="emailHelp" placeholder="example@mail.ru" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Пароль</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="pass" placeholder="*********" required>
  </div>
  <button type="submit" class="btn btn-primary">Войти</button>
</form>

</body>
</html>